# Native marker types are required to reproduce getBaseHeight without structure influence.
public net.minecraft.world.level.levelgen.DensityFunctions$BeardifierMarker
public net.minecraft.world.level.levelgen.DensityFunctions$BeardifierOrMarker
